.confirm-form {
  width: 50%;
  margin: 0 auto;
  background-color: rgb(23, 146, 74);
}
.place-form input {
  width: 300px;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  border-color: rgb(70, 9, 9);
}
.confirmbutton {
  width: 200px;
  background-color: rgb(7, 100, 46);
  color: white;
}
